.products {
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    button {
      padding: 6px 10px;
      border: 1px solid #fff;
      color: #fff;
      border-radius: 10px;
      background: transparent;
      cursor: pointer;
    }
  }
}
